@import './base.scss';

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;

}
html {
scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Haas', sans-serif;
  font-weight: bold;

}

h2 {
  display:flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #ffffff;
  font-family: 'Haas', sans-serif;
  font-weight: bold;
}

h3 {
  display:flex;
  justify-content: flex-start;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}